@model Capstone.Web.Models.Tournament
@{
    ViewBag.Title = "CreateTournament";
}

<h2>CreateTournament</h2>

<div id="create" style="margin: 20px;">

    @using (Html.BeginForm("CreateTournament", "Home", FormMethod.Post))
    {
        <div>
            @Html.Label("Type of Game: \t\t")
            @Html.TextBoxFor(m => m.GameType, new { placeholder = "i.e Bowling" })
            @Html.ValidationMessageFor(m => m.GameType)
        </div>
        @*<div>@Html.Label("Total Players: ")</div>*@
        <div>
            @Html.Label("Total Players: \t\t")
            @Html.TextBoxFor(m => m.MaxPlayers, new { placeholder = "Max # of Players" })
            @Html.ValidationMessageFor(m => m.MaxPlayers)
        </div>
        <div>
            @Html.Label("Tournament Start Date: \t\t")
            @Html.TextBoxFor(m => m.GameStartDate, new { placeholder = "Tournament Start Date" })
            @Html.ValidationMessageFor(m => m.GameStartDate)
        </div>
        <button>Create</button>
    }
</div>

