@using Capstone.Web.Models;
@model Tournament
@{
    ViewBag.Title = "CreateTournamentForm";
}

<h2>Create New Tournament</h2>

<div id="create" style="margin: 20px;">

    @using (Html.BeginForm("CreateTournament", "Tournament", FormMethod.Post))
    {

        <div>
            @Html.Label("Tournament Name: \t\t")
            @Html.TextBoxFor(m => m.TournamentName, new { placeholder = "Tournament Name" })
            @Html.ValidationMessageFor(m => m.TournamentName)
        </div>
        <div>
            @Html.Label("Amount of Players: \t\t")
            @Html.TextBoxFor(m => m.CompetitorLimit, new { placeholder = "Max # of Players" })
            @Html.ValidationMessageFor(m => m.CompetitorLimit)
        </div>
        <div>
            @Html.Label("Tournament Start Date: \t\t")
            @Html.TextBoxFor(m => m.StartDate, new { placeholder = "Tournament Start Date" })
            @Html.ValidationMessageFor(m => m.StartDate)
        </div>
        <div>
            @Html.Label("Tournament End Date: \t\t")
            @Html.TextBoxFor(m => m.EndDate, new { placeholder = "Tournament End Date" })
            @Html.ValidationMessageFor(m => m.EndDate)
        </div>
        <button>Create</button>
    }
</div>