@using Capstone.Web.Models;
@{
    ViewBag.Title = "Tournament";
}
@model Tournament

<div class="container">
    <div class="" style="margin-top:40px;">

        <div class="row">
            <div class="col-md-12">
                <h2>@Model.TournamentName</h2>
                <input type="hidden" id="tourId" value="@Model.TournamentId" />
            </div>
            <div class="col-md-4">
                <h3> Hosted By </h3><span>@Model.OrganizerName</span>
                <h4>Status: @Model.GameStatus</h4>
            </div>
            <div class="col-md-4">
                <h4>@Model.CompetitorLimit Player Single Eliminations</h4>
                <h4>@Model.GameName</h4>
            </div>
            <div class="col-md-4">

            </div>
            <br />
            <div class="col-md-6">
                <button id="bracket" type="submit" class="btn btn-default">Generate Brackets</button>
            </div>
            @if (Session[SessionKeys.UsernameKey] != null)
            {
                if ((int)Session[SessionKeys.UserId] == Model.OrganizerId)
                {
            <div class="col-md-6" style="padding-top:10px">
                @Html.ActionLink("Invite Player", "Invite", "Tournament", new { id = Model.TournamentId }, null)
            </div>
                }
            }
        </div>
    </div>

        <div id="minimal" class="demo">

        </div>

</div>
